<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--配置数据源-->
       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
              <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
              <property name="username" value="root"></property>
              <property name="password" value="123456"></property>
              <property name="maxActive" value="100"></property>
              <property name="defaultAutoCommit" value="true"></property>
       </bean>

       <!--配置sessionFactory-->
       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <property name="dataSource" ref="dataSource"></property>
              <property name="hibernateProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                     </props>
              </property>

              <property name="mappingResources">
                     <list>
                            <value>User.hbm.xml</value>
                            <value>Message.hbm.xml</value>
                     </list>
              </property>
       </bean>

       <!--对象进行容器托管-->
       <bean id="userDao" class="dao.impl.UserDaoImpl" scope="singleton">
              <property name="sessionFactory">
                     <ref bean="sessionFactory"/>
              </property>
       </bean>

       <bean id="userService" class="service.impl.UserServiceImpl">
              <property name="userDao" ref="userDao"/>
       </bean>

       <bean id="userAction" class="action.UserAction">
              <property name="userService" ref="userService"/>
       </bean>
</beans>